In [1]:
import random
import numpy as np
import pandas as pd

with open("names.txt",encoding="utf-8") as file:
    content = file.read()

names_list = content.split()
names = random.choices(names_list,k=50)

with open("names.txt",encoding="utf-8") as file:
    content = file.read()
    
scores = np.random.randint(50,101,size=(50,5))
student_df = pd.DataFrame(scores,
             columns=['國文','英文','數學','地理','歷史'],
             index=names)
student_df

      國文   英文   數學   地理  歷史
蘇凡菁   60   55   58   65  81
金宜芳   89   50   78   79  87
陳倩潔   97   58   90   87  83
程玫靖   87   53   64   69  99
張凡成   98   98   73   84  83
邱亭君   56   68   85   54  68
賴又琦   98   72   56   76  91
林淑安   77   95   98   67  71
楊又源   69   63   59   73  84
王坤安   67   80  100   90  90
郭舜昇   88   60   63   86  63
陳逸凡   99   78   60   68  92
陳奇瑄   78   55   91   80  83
柯宜臻   81   63   61   67  59
吳柏誠   98   53   66   86  54
詹忠光   89   78   75   52  55
陳建豪   66   61   92   84  61
馮淑芬   88   78   51   68  54
賴佳雯   61   96   58   55  80
黃麗美   70   74   62   60  64
張嘉韋   75   71   70   51  80
陳筱涵   93   55   68   81  70
鄭憲定   82   68   67   51  74
黃柏宇   69   58   81   76  77
楊少亮   63   72   95   78  82
朱彥志   64   70   54   68  60
黃佩玲   71   59   71   92  67
陳樂紫   55   55   57   76  62
陳筱涵   62   70   90   98  59
李雅怡  100   51   85   60  80
黃奎紹  100   70   55   93  60
劉依婷   51   66   81   99  92
周怡啟   74   78   81   73  66
簡佳樺   95   67   70   69  96
高智超   96   72   58  100  90
張韋成   56   73   91   72  89
蔡至剛   62   79   72   53  78
蒙淑惠   67   86   54   56  93
吳昕婷   81   55   78   96  95
趙家豪   71   87   82   96  52
彭茹靖   60   91   91   80  87
林麗萍   76   96   93   99  80
陳怡伶   89   65   74   81  94
黃柏宇   67   68   69   94  85
鞠冠宇   60   73   65   73  61
張慧君   68   86   70   51  64
藍姿婷   92   78   59   83  84
李進慧   60  100   51   65  88
王人仰   53   95   71   54  50
王怡君   69   91   76   84  89

In [3]:
display(student_df.iloc[0])
display(student_df.iloc[[0,49]])
display(student_df.iloc[:5])
display(student_df.iloc[-5:])

國文    60
英文    55
數學    58
地理    65
歷史    81
Name: 蘇凡菁, dtype: int32

     國文  英文  數學  地理  歷史
蘇凡菁  60  55  58  65  81
王怡君  69  91  76  84  89

     國文  英文  數學  地理  歷史
蘇凡菁  60  55  58  65  81
金宜芳  89  50  78  79  87
陳倩潔  97  58  90  87  83
程玫靖  87  53  64  69  99
張凡成  98  98  73  84  83

     國文   英文  數學  地理  歷史
張慧君  68   86  70  51  64
藍姿婷  92   78  59  83  84
李進慧  60  100  51  65  88
王人仰  53   95  71  54  50
王怡君  69   91  76  84  89

In [4]:
student_df.iloc[-5:,:3]

     國文   英文  數學
張慧君  68   86  70
藍姿婷  92   78  59
李進慧  60  100  51
王人仰  53   95  71
王怡君  69   91  76

In [5]:

student_df[student_df["地理"]<60]

     國文  英文  數學  地理  歷史
邱亭君  56  68  85  54  68
詹忠光  89  78  75  52  55
賴佳雯  61  96  58  55  80
張嘉韋  75  71  70  51  80
鄭憲定  82  68  67  51  74
蔡至剛  62  79  72  53  78
蒙淑惠  67  86  54  56  93
張慧君  68  86  70  51  64
王人仰  53  95  71  54  50

In [6]:

student_df[student_df['國文'] < 60]

     國文  英文  數學  地理  歷史
邱亭君  56  68  85  54  68
陳樂紫  55  55  57  76  62
劉依婷  51  66  81  99  92
張韋成  56  73  91  72  89
王人仰  53  95  71  54  50

In [7]:

#地理和國文同時不及格的
student_df[(student_df['地理'] < 60) & (student_df['國文'] < 60)]

     國文  英文  數學  地理  歷史
邱亭君  56  68  85  54  68
王人仰  53  95  71  54  50

In [ ]:

#地理和國文同時不及格的
student_df[(student_df['地理'] < 60) | (student_df['國文'] < 60)]